// Background
$background_color: #B6B9BC;
$content_background_color: #E6E9EC;

// Font 
$general_text_font_color: #303336;
$information_font_color: #00A0DC;
$primary_font_color: #7CB82F;
$search_bar_font_size: 20px;
$nav_row_font_size: 20px;
$nav_title_font_size: 24px;
$app_sig_row_font_size: 18px;

// Size
$header_height: 50px;


// Color
$black: #000000;